* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #0a3366;
  transition: all ease-in-out 0.3s;
}
a:hover {
  color: #f46700;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

body {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #566593;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1280px;
  }
}
.sp-tb {
  padding-top: 80px;
  padding-bottom: 80px;
}

.sp-t {
  padding-top: 80px;
}

.sp-b {
  padding-bottom: 80px;
}

header {
  background-color: #f4ffcf;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1019607843);
}
header nav.navbar {
  padding: 15px 0;
}
header nav.navbar .nav-link {
  margin-left: 20px;
  color: #0a3366;
  display: flex;
  align-items: center;
}
header nav.navbar .nav-link::after {
  content: "";
  width: 12px;
  height: 12px;
  background: url(../images/nav-link-icon.svg);
  display: inline-block;
  margin-left: 5px;
}
header nav.navbar .header-icons {
  display: flex;
  align-items: center;
}
header nav.navbar .header-icons li + li {
  margin-left: 15px;
}

img {
  width: 100%;
}

button {
  background: none;
  outline: none;
  border: 0;
}

h1,
.common-head {
  font-weight: 700;
  font-size: 6rem;
  line-height: 7.8rem;
  color: #0a3366;
}

.common-head {
  font-size: 4.5rem;
  line-height: 6rem;
}

.bg-1 {
  background-color: #fffed9;
}

.bg-2 {
  background-color: #ecf8c6;
}

.play-btn {
  background-color: rgba(255, 255, 255, 0.7019607843);
  -webkit-backdrop-filter: blur(8.5px);
          backdrop-filter: blur(8.5px);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 100vmax;
  display: flex;
  align-items: center;
  justify-content: center;
}
.play-btn i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #0f0f0f;
  font-size: 24px;
  transition: all ease-in-out 0.3s;
}
.play-btn:hover i {
  color: #f46700;
}
.play-btn .text {
  position: absolute;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  color: #0f0f0f;
  font-size: 16px;
  font-weight: 500;
  animation: rotate 15s linear infinite;
}
.play-btn .text span {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.2em;
  transform-origin: 0 0px;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@keyframes leftDown {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translateY(12px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateX(-12px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.banner-sec {
  background-color: #f4ffcf;
  background-image: url(../images/banner-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 160px 0;
  position: relative;
  overflow: hidden;
}
.banner-sec .face-img-2 {
  position: absolute;
  bottom: 30px;
  left: 45%;
  transform: translateX(-50%);
  border-bottom-right-radius: 50px;
  width: 100px;
  height: 100px;
  display: inline-block;
  overflow: hidden;
  animation: leftDown 6s linear infinite;
}

.banner-content {
  padding-left: 70px;
  position: relative;
}
.banner-content p {
  padding: 12px 20px 12px 24px;
  margin: 20px 0 40px 0;
  background: linear-gradient(82.2deg, rgba(10, 51, 102, 0.1) 0%, rgba(10, 51, 102, 0) 80%);
  border-left: 4px solid #0a3366;
}
.banner-content .face-img-1 {
  position: absolute;
  top: -130px;
  left: -30px;
  width: 100px;
  height: 100px;
  animation: leftDown 6s linear infinite;
}
.banner-content .face-img-1 img {
  border-radius: 50%;
}
.banner-content .face-img-1 span {
  width: 1px;
  height: 600px;
  background-color: #fff;
  display: inline-block;
  position: absolute;
  top: calc(100% + 20px);
  left: 50%;
  transform: translateX(-50%);
}
.banner-content .face-img-1::before, .banner-content .face-img-1::after {
  content: "";
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: block;
  position: absolute;
  top: -10px;
  left: -10px;
}
.banner-content .face-img-1::after {
  width: 140px;
  height: 140px;
  top: -20px;
  left: -20px;
}

.banner-img {
  position: absolute;
  right: 50px;
  bottom: 0;
  max-width: 640px;
}
.banner-img svg {
  position: absolute;
  top: 0;
  left: 10px;
  animation: rotate 15s linear infinite;
}
.banner-img svg:nth-child(2) {
  left: unset;
  right: 0;
  top: 310px;
}
.banner-img .banner-play-btn {
  position: absolute;
  bottom: 120px;
  right: -30px;
}

.button {
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 8px 10px 8px 25px;
  border-radius: 16px;
  transition: all ease-in-out 0.3s;
}
.button .icon {
  background-color: #fff;
  color: #0a3366;
  border-radius: 10px;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.primary-btn {
  background: #0a3366;
  color: #fff;
}
.primary-btn:hover {
  background-color: #f46700;
  color: #fff;
}

.secondary-btn {
  background: #f46700;
  color: #fff;
}
.secondary-btn:hover {
  background-color: #0a3366;
  color: #fff;
}

.about-sec {
  position: relative;
}
.about-sec .about-left {
  position: relative;
}
.about-sec .about-left .play-btn-wrap {
  position: absolute;
  bottom: -50px;
  left: 120px;
}
.about-sec .about-face-img {
  width: 150px;
  position: absolute;
  bottom: 80px;
  right: 80px;
  animation: leftDown 6s linear infinite;
}

.marquee-1 {
  background-color: #0a3366;
  overflow: hidden;
}
.marquee-1 .marquee-list {
  display: flex;
  min-width: 200%;
  animation: ticker 15s linear infinite;
}
.marquee-1 .marquee-list .marquee-item {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 38px;
  text-transform: capitalize;
  color: #fff;
}
.marquee-1 .marquee-list .marquee-item::before {
  content: "";
  width: 20px;
  min-width: 20px;
  height: 20px;
  display: inline-block;
  background-image: url(../images/marqee-icon.svg);
  background-size: contain;
  background-position: center;
  margin: 0 50px;
}

@keyframes ticker {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.skin-care-slider .swiper-slide h3 {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}
.skin-care-slider .swiper-slide .skin-care-box {
  display: flex;
  align-items: center;
  gap: 30px;
  background-color: #fff;
  min-width: 780px;
  border-radius: 20px;
  padding: 30px;
}
.skin-care-slider .swiper-slide:not(.skin-care-active) .skin-care-box {
  display: none;
}
.skin-care-slider .swiper-slide:not(.skin-care-active) .skin-item {
  height: 460px;
  background-color: #0a3366;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 90px;
  cursor: pointer;
}
.skin-care-slider .swiper-slide:not(.skin-care-active) .skin-item:hover .arrow-btn {
  background-color: #f46700;
  color: #fff;
}
.skin-care-slider .swiper-slide:not(.skin-care-active) .skin-item::after {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0a3366;
  opacity: 0.7;
  border-radius: 15px;
  z-index: -1;
  display: inline-block;
  position: absolute;
}
.skin-care-slider .swiper-slide:not(.skin-care-active) .skin-item img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -2;
}
.skin-care-slider .swiper-slide:not(.skin-care-active) h3 {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}
.skin-care-slider .swiper-slide.skin-care-active .skin-item {
  display: none;
}
.skin-care-slider .swiper-slide.skin-care-active .skin-care-box .skin-care-box-image {
  width: 250px;
  height: 400px;
  min-width: 250px;
  border-radius: 15px;
  overflow: hidden;
}
.skin-care-slider .swiper-slide.skin-care-active .skin-care-box .skin-care-box-image img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.skin-care-slider .swiper-slide.skin-care-active .skin-care-box h3 {
  color: #0a3366;
}
.skin-care-slider .swiper-slide.skin-care-active .skin-care-box ul {
  margin-top: 20px;
}
.skin-care-slider .swiper-slide.skin-care-active .skin-care-box ul li {
  padding: 6px 0;
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  color: #566593;
  font-weight: 500;
}
.skin-care-slider .swiper-slide.skin-care-active .skin-care-box ul li:before {
  content: "";
  width: 22px;
  height: 22px;
  background-image: url(../images/skin-list-icon.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
}

.heading-wrap {
  max-width: 980px;
  margin-inline: auto;
}

.products-wrap .nav-tabs {
  margin: 40px 0;
  border: 0;
  gap: 15px;
}
.products-wrap .nav-tabs .nav-link {
  font-size: 16px;
  color: #0a3366;
  padding: 10px 26px;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  transition: all ease-in-out 0.3s;
}
.products-wrap .nav-tabs .nav-link.active, .products-wrap .nav-tabs .nav-link:hover {
  color: #fff;
  background-color: #0a3366;
}

.product-item {
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
}
.product-item:hover .product-icons {
  bottom: 15px;
}
.product-item .product-img {
  position: relative;
  overflow: hidden;
}
.product-item .product-img .offer-text {
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 50px;
  padding: 5px 15px;
  background-color: #f46700;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
}
.product-item .product-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 25px;
  border-top: 1px solid #efe9e9;
}
.product-item .product-content h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: #0a3366;
}
.product-item .product-content .price {
  font-size: 16px;
  line-height: 25px;
  text-decoration: none;
  margin-top: 5px;
}
.product-item .product-content .price .offered-price {
  font-weight: 700;
  color: #f46700;
}
.product-item .product-content .price .original-price {
  font-weight: 300;
  color: #816e6e;
  margin-left: 5px;
}

.arrow-btn {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  color: #0a3366;
  background-color: #efe9e9;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out 0.3s;
}
.arrow-btn:hover {
  color: #fff;
  background-color: #f46700;
}

.product-icons {
  position: absolute;
  left: 50%;
  bottom: -100%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.product-icons li a {
  background-color: #f46700;
  border-radius: 10px;
  color: #fff;
  padding: 10px;
  min-width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.product-icons li:first-child a {
  background-color: #0a3366;
  text-wrap: nowrap;
  font-size: 16px;
}
.product-icons li + li {
  margin-left: 5px;
}

.features-item {
  padding-top: 40px;
}
.features-item .features-icon {
  width: 94px;
  height: 94px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #0a3366;
  color: #fff;
}
.features-item h3 {
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  text-transform: capitalize;
  color: #0a3366;
  margin: 20px 0 10px 0;
}

.why-us-item ul {
  -moz-column-count: 2;
       column-count: 2;
  margin: 25px 0;
}
.why-us-item ul li {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 0;
}
.why-us-item ul li:before {
  content: "";
  width: 22px;
  height: 22px;
  background-image: url(../images/skin-list-icon.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
}
.why-us-item .why-us-img1 {
  position: relative;
}
.why-us-item .why-us-img1 img {
  border-radius: 20px;
}
.why-us-item .why-us-img1 .box {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  gap: 12px;
  position: absolute;
  left: -54px;
  bottom: 112px;
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(10, 51, 102, 0.1);
  border-radius: 15px 15px 0px 15px;
}
.why-us-item .why-us-img1 .box p {
  font-size: 14px;
  color: #0a3366;
}
.why-us-item .why-us-img2 {
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
  margin-top: 50px;
}
.why-us-item .why-us-img2 .google-rating {
  padding: 25px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.why-us-item .why-us-img2 .google-rating img {
  width: 60px;
}
.why-us-item .why-us-img2 .google-rating .star-wrap {
  display: flex;
  gap: 4px;
  align-items: center;
}
.why-us-item .why-us-img2 .google-rating .star-wrap i {
  font-size: 16px;
  color: #ffcd37;
}
.why-us-item .why-us-img2 .google-rating p {
  font-size: 14px;
  color: #0a3366;
}
.why-us-item .why-us-img2 img {
  border-radius: 20px;
}

.call-btn {
  color: #0a3366;
  display: flex;
  align-items: center;
  gap: 15px;
}
.call-btn svg {
  color: #f46700;
}
.call-btn p {
  font-size: 14px;
  font-weight: 300;
}
.call-btn span {
  font-size: 18px;
  font-weight: 700;
  margin-top: 4px;
}

.faq-sec {
  position: relative;
  overflow: hidden;
}

.faq-item {
  position: relative;
  z-index: 9;
}
.faq-item .accordion {
  margin-top: 30px;
  padding-bottom: 22px;
}
.faq-item .accordion .accordion-item {
  border: 0;
  border-radius: 20px;
  margin-top: 14px;
}
.faq-item .accordion .accordion-button {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-transform: capitalize;
  color: #0a3366;
  padding: 22px 25px;
  background: none;
  box-shadow: none;
}
.faq-item .accordion .accordion-button::after {
  content: "\f068";
  font-family: "Font Awesome 7 Free";
  font-weight: 700;
  background: none;
  font-size: 14px;
  background-color: #f46700;
  color: #fff;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.faq-item .accordion .accordion-button.collapsed::after {
  content: "+";
  background-color: #fff;
  color: #0f0f0f;
  box-shadow: 0px 2px 20px 6px rgba(204, 204, 204, 0.25);
}
.faq-item .accordion .accordion-body {
  padding: 0 25px 22px 25px;
  color: #566593;
}

.faq-img {
  position: absolute;
  bottom: 0;
  right: 60px;
  max-width: 495px;
  z-index: 1;
}
.faq-img .img-circle {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 640px;
  height: 640px;
  z-index: -1;
  color: #f46700;
}
.faq-img .img-circle svg {
  animation: rotate 25s linear infinite;
}

.outline-btn-white {
  background-color: transparent;
  border: 1px solid #fff;
}
.outline-btn-white:hover {
  background-color: #0a3366;
  color: #fff;
  border-color: #0a3366;
}

footer {
  background-color: #07121e;
  padding: 60px 0 0 0;
  color: #fff;
  background: url(../images/footer-bg.png), #07121e;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: luminosity;
}
footer h4 {
  font-size: 20px;
  font-weight: 500;
  margin: 20px 0;
}
footer .subscription {
  position: relative;
}
footer .subscription input {
  width: 100%;
  font-size: 16px;
  padding: 18px 26px;
  padding-right: 50px;
  color: #bed2e7;
  background-color: #07121e;
  border: 0;
  outline: none;
  border-radius: 18px;
}
footer .subscription .submit-icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: none;
  outline: none;
  border: 0;
  line-height: 0;
  padding: 16px 20px;
  color: #fff;
  transition: all ease-in-out 0.3s;
}
footer .subscription .submit-icon :hover {
  color: #f46700;
}
footer .footer-mid {
  margin-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.1019607843);
}
footer .footer-mid .footer-mid-item {
  padding-top: 30px;
}
footer .footer-mid .footer-mid-item h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}
footer .footer-mid .footer-mid-item a {
  color: #fff;
  margin-top: 10px;
}
footer .footer-mid .footer-mid-item a:hover {
  color: #f46700;
}
footer .get-in-touch {
  background-color: #07121e;
  padding: 10px 32px 25px 32px;
  border-radius: 30px;
  margin-top: 60px;
  color: #fff;
}
footer .get-in-touch .get-in-touch-item {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
}
footer .get-in-touch .get-in-touch-item svg {
  color: #f46700;
  font-size: 20px;
  min-width: 20px;
}
footer .get-in-touch .get-in-touch-item h5 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 6px;
}
footer .get-in-touch .get-in-touch-item svg {
  color: #fff;
  font-size: 60px;
  width: 60px;
  height: 60px;
  padding: 18px;
  background-color: #f46700;
  border-radius: 50%;
  overflow: visible;
}
footer .get-in-touch .get-in-touch-item h6 {
  font-size: 18px;
  font-weight: 300;
  color: #fff;
}
footer .get-in-touch .get-in-touch-item p {
  color: #fff;
  font-size: 15px;
  font-weight: 300;
}
footer .footer-copyright {
  text-align: center;
  padding: 25px 0;
}

@media (min-width: 767px) {
  .modal-dialog {
    max-width: 720px;
  }
}
@media (min-width: 1900px) {
  .banner-img {
    right: 300px;
  }
}
@media (max-width: 1900px) {
  .skin-care-slider .swiper-slide .skin-care-box {
    min-width: 640px;
  }
}
@media (max-width: 1320px) {
  .banner-img {
    max-width: 550px;
  }
}
@media (min-width: 1200px) {
  .skin-care-slider .swiper-slide {
    flex: 0 0 100px;
    transition: all 0.5s;
  }
  .skin-care-slider .swiper-slide.skin-care-active {
    width: calc(100% - 480px);
    flex: 0 0 calc(100% - 480px);
  }
}
@media (max-width: 1200px) {
  .banner-sec {
    padding: 80px 0;
  }
  .banner-img {
    max-width: 400px;
  }
  .banner-content .face-img-1 {
    top: -52px;
    width: 80px;
    height: 80px;
  }
  .banner-content .face-img-1::before {
    width: 100px;
    height: 100px;
  }
  .banner-content .face-img-1::after {
    width: 120px;
    height: 120px;
  }
  .skin-care-slider .swiper-slide .skin-care-box {
    width: 100%;
  }
  .skin-care-slider .swiper-slide .skin-item {
    display: none;
  }
  .skin-care-slider .swiper-slide .skin-care-box {
    display: flex;
    min-width: unset;
  }
  .about-sec .about-face-img {
    bottom: 50px;
    right: 20px;
  }
  .why-us-item .why-us-img2 .google-rating {
    padding: 15px;
    gap: 10px;
  }
  .why-us-item .why-us-img2 .google-rating .star-wrap {
    gap: 0;
  }
  .why-us-item .why-us-img2 .google-rating img {
    width: 40px;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 50%;
  }
  .navbar-toggler-icon {
    width: 3em;
    height: 3em;
  }
  header nav.navbar .nav-link {
    margin-left: 0;
    margin-top: 10px;
  }
  .navbar-nav {
    padding: 20px 0;
  }
  .banner-img {
    position: relative;
    right: unset;
    max-width: 100%;
    display: block;
  }
  .banner-img .banner-play-btn {
    right: 60px;
    bottom: 40px;
  }
  .faq-img {
    position: relative;
    right: unset;
  }
  .faq-sec {
    padding-bottom: 0 !important;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 45%;
  }
  .banner-content {
    padding-left: 0;
  }
  .banner-content .face-img-1 {
    display: none;
  }
  .skin-care-slider .swiper-slide .skin-care-box {
    display: block;
  }
  .skin-care-slider .swiper-slide.skin-care-active .skin-care-box .skin-care-box-image {
    width: 100%;
    height: auto;
    min-width: unset;
    margin-bottom: 20px;
  }
  .about-right {
    margin-top: 60px;
  }
  .sp-tb {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .sp-t {
    padding-top: 60px;
  }
  .sp-b {
    padding-bottom: 60px;
  }
}
@media (max-width: 400px) {
  .about-sec .about-face-img {
    display: none;
  }
  .play-btn {
    width: 150px;
    height: 150px;
  }
  .play-btn .text {
    font-size: 14px;
  }
  .why-us-item ul {
    -moz-column-count: 1;
         column-count: 1;
  }
}/*# sourceMappingURL=style.css.map */