$primary-color: #0a3366;
$secondary-color: #f46700;
$text-color: #566593;
$bg-color1: #fffed9;
$bg-color2: #ecf8c6;

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  display: inline-block;
  color: $primary-color;
  transition: all ease-in-out 0.3s;

  &:hover {
    color: $secondary-color;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

body {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: $text-color;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1280px;
  }
}

.sp-tb {
  padding-top: 80px;
  padding-bottom: 80px;
}
.sp-t {
  padding-top: 80px;
}
.sp-b {
  padding-bottom: 80px;
}

header {
  background-color: #f4ffcf;
  border-bottom: 1px solid #0000001a;

  nav.navbar {
    padding: 23px 0;

    .nav-link {
      margin-left: 20px;
      color: $primary-color;
      display: flex;
      align-items: center;

      &::after {
        content: "";
        width: 12px;
        height: 12px;
        background: url(../images/nav-link-icon.svg);
        display: inline-block;
        margin-left: 5px;
      }
    }

    .header-icons {
      display: flex;
      align-items: center;

      li + li {
        margin-left: 15px;
      }
    }
  }
}

img {
  width: 100%;
}

h1,
.common-head {
  font-weight: 700;
  font-size: 6rem;
  line-height: 7.8rem;
  color: #0a3366;
}

.common-head {
  font-size: 4.5rem;
  line-height: 6rem;
}

.bg-1 {
  background-color: $bg-color1;
}
.bg-2 {
  background-color: $bg-color2;
}

.play-btn {
  background-color: #ffffffb3;
  backdrop-filter: blur(8.5px);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 100vmax;
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #0f0f0f;
    font-size: 24px;
    transition: all ease-in-out 0.3s;
  }

  &:hover {
    i {
      color: $secondary-color;
    }
  }

  .text {
    position: absolute;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    color: #0f0f0f;
    font-size: 16px;
    font-weight: 500;
    animation: rotate 15s linear infinite;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 1.2em;
      transform-origin: 0 0px;
    }
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes leftDown {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translateY(12px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateX(-12px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.banner-sec {
  background-color: #f4ffcf;
  background-image: url(../images/banner-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 160px 0;
  position: relative;
  overflow: hidden;

  .face-img-2 {
    position: absolute;
    bottom: 30px;
    left: 45%;
    transform: translateX(-50%);
    border-bottom-right-radius: 50px;
    width: 100px;
    height: 100px;
    display: inline-block;
    overflow: hidden;
    animation: leftDown 6s linear infinite;
  }
}

.banner-content {
  padding-left: 70px;
  position: relative;

  p {
    padding: 12px 20px 12px 24px;
    margin: 20px 0 40px 0;
    background: linear-gradient(
      82.2deg,
      rgba(10, 51, 102, 0.1) 0%,
      rgba(10, 51, 102, 0) 80%
    );
    border-left: 4px solid $primary-color;
  }

  .face-img-1 {
    position: absolute;
    top: -130px;
    left: -30px;
    width: 100px;
    height: 100px;
    animation: leftDown 6s linear infinite;

    img {
      border-radius: 50%;
    }

    span {
      width: 1px;
      height: 600px;
      background-color: #fff;
      display: inline-block;
      position: absolute;
      top: calc(100% + 20px);
      left: 50%;
      transform: translateX(-50%);
    }

    &::before,
    &::after {
      content: "";
      width: 120px;
      height: 120px;
      border-radius: 50%;
      border: 1px solid #fff;
      display: block;
      position: absolute;
      top: -10px;
      left: -10px;
    }

    &::after {
      width: 140px;
      height: 140px;
      top: -20px;
      left: -20px;
    }
  }
}

.banner-img {
  position: absolute;
  right: 50px;
  bottom: 0;
  max-width: 640px;

  svg {
    position: absolute;
    top: 0;
    left: 10px;
    animation: rotate 15s linear infinite;

    &:nth-child(2) {
      left: unset;
      right: 0;
      top: 310px;
    }
  }

  .banner-play-btn {
    position: absolute;
    bottom: 120px;
    right: -30px;
  }
}

.button {
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 8px 10px 8px 25px;
  border-radius: 16px;
  transition: all ease-in-out 0.3s;

  .icon {
    background-color: #fff;
    color: $primary-color;
    border-radius: 10px;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
  }
}

.primary-btn {
  background: $primary-color;
  color: #fff;

  &:hover {
    background-color: $secondary-color;
    color: #fff;
  }
}

.secondary-btn {
  background: $secondary-color;
  color: #fff;

  &:hover {
    background-color: $primary-color;
    color: #fff;
  }
}

.about-sec {
  position: relative;

  .about-left {
    position: relative;

    .play-btn-wrap {
      position: absolute;
      bottom: -50px;
      left: 120px;
    }
  }

  .about-face-img {
    width: 150px;
    position: absolute;
    bottom: 40px;
    right: 80px;
  }
}

.marquee-1 {
  background-color: $primary-color;

  h4 {
    padding: 20px 0;
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 24px;
    line-height: 38px;
    text-transform: capitalize;
    color: #ffffff;
    display: flex;
    align-items: center;
    overflow: hidden;

    &::before {
      content: "";
      width: 20px;
      min-width: 20px;
      height: 20px;
      display: inline-block;
      background-image: url(../images/marqee-icon.svg);
      background-size: contain;
      background-position: center;
      margin-right: 20px;
    }
  }
}

.skin-care-slider {
  .swiper-slide {
    flex: 0 0 100px;
    transition: all 0.5s;

    h3 {
      font-size: 24px;
      font-weight: 700;
      color: #fff;
    }

    .skin-care-box {
      display: flex;
      align-items: center;
      gap: 30px;
      background-color: #fff;
      min-width: 780px;
      border-radius: 20px;
      padding: 30px;
    }

    &:not(.skin-care-active) {
      .skin-care-box {
        display: none;
      }

      .skin-item {
        height: 460px;
        background-color: #0a3366;
        border-radius: 15px;
        position: relative;
        overflow: hidden;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0 90px;
        cursor: pointer;

        &:hover {
          .arrow-btn {
            background-color: $secondary-color;
            color: #fff;
          }
        }

        &::after {
          content: "";
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: #0a3366;
          opacity: 0.7;
          border-radius: 15px;
          z-index: -1;
          display: inline-block;
          position: absolute;
        }

        img {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          object-fit: cover;
          z-index: -2;
        }
      }

      h3 {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
      }
    }

    &.skin-care-active {
      width: calc(100% - (5 - 1) * 120px);
      flex: 0 0 calc(100% - (5 - 1) * 120px);

      .skin-item {
        display: none;
      }

      .skin-care-box {
        .skin-care-box-image {
          width: 250px;
          height: 400px;
          min-width: 250px;
          border-radius: 15px;
          overflow: hidden;

          img {
            height: 100%;
            object-fit: cover;
          }
        }

        h3 {
          color: $primary-color;
        }
      }

      .skin-care-box {
        ul {
          margin-top: 20px;

          li {
            padding: 6px 0;
            position: relative;
            display: flex;
            align-items: center;
            gap: 12px;
            color: $text-color;
            font-weight: 500;

            &:before {
              content: "";
              width: 22px;
              height: 22px;
              background-image: url(../images/skin-list-icon.svg);
              background-size: contain;
              background-position: center;
              background-repeat: no-repeat;
              display: inline-block;
            }
          }
        }
      }
    }
  }
}

.heading-wrap {
  max-width: 980px;
  margin-inline: auto;
}

.products-wrap {
  .nav-tabs {
    margin: 40px 0;
    border: 0;
    gap: 15px;

    .nav-link {
      font-size: 16px;
      color: $primary-color;
      padding: 10px 26px;
      border-radius: 50px;
      border: 1px solid #0000001a;
      transition: all ease-in-out 0.3s;

      &.active,
      &:hover {
        color: #fff;
        background-color: $primary-color;
      }
    }
  }
}

.product-item {
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;

  &:hover {
    .product-icons {
      bottom: 15px;
    }
  }

  .product-img {
    position: relative;
    overflow: hidden;

    .offer-text {
      position: absolute;
      top: 20px;
      left: 20px;
      border-radius: 50px;
      padding: 5px 15px;
      background-color: $secondary-color;
      color: #fff;
      font-size: 12px;
      font-weight: 700;
      line-height: 18px;
    }
  }

  .product-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 25px;
    border-top: 1px solid #efe9e9;

    h3 {
      font-size: 20px;
      font-weight: 700;
      line-height: 28px;
      color: $primary-color;
    }

    .price {
      font-size: 16px;
      line-height: 25px;
      text-decoration: none;
      margin-top: 5px;

      .offered-price {
        font-weight: 700;
        color: $secondary-color;
      }

      .original-price {
        font-weight: 300;
        color: #816e6e;
        margin-left: 5px;
      }
    }
  }
}

.arrow-btn {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  color: $primary-color;
  background-color: #efe9e9;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out 0.3s;

  &:hover {
    color: #fff;
    background-color: $secondary-color;
  }
}

.product-icons {
  position: absolute;
  left: 50%;
  bottom: -100%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;

  li {
    a {
      background-color: $secondary-color;
      border-radius: 10px;
      color: #fff;
      padding: 10px;
      min-width: 45px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }

    &:first-child {
      a {
        background-color: #0a3366;
        text-wrap: nowrap;
        font-size: 16px;
      }
    }
  }

  li + li {
    margin-left: 5px;
  }
}

.features-item {
  padding-top: 40px;

  .features-icon {
    width: 94px;
    height: 94px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: $primary-color;
    color: #fff;
  }

  h3 {
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    text-transform: capitalize;
    color: $primary-color;
    margin: 20px 0 10px 0;
  }
}

.why-us-item {
  ul {
    column-count: 2;
    margin: 25px 0;

    li {
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 8px 0;

      &:before {
        content: "";
        width: 22px;
        height: 22px;
        background-image: url(../images/skin-list-icon.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        display: inline-block;
      }
    }
  }

  .why-us-img1 {
    border-radius: 20px;
    overflow: hidden;
  }

  .why-us-img2 {
    border-radius: 20px;
    background-color: #fff;
    overflow: hidden;
    margin-top: 50px;

    .google-rating {
      padding: 25px;
      display: flex;
      align-items: center;
      gap: 12px;

      img {
        width: 60px;
      }

      .star-wrap {
        display: flex;
        gap: 4px;
        align-items: center;

        i {
          font-size: 16px;
          color: #ffcd37;
        }
      }

      p {
        font-size: 14px;
        color: $primary-color;
      }
    }

    img {
      border-radius: 20px;
    }
  }
}

.call-btn {
  color: $primary-color;
  display: flex;
  align-items: center;
  gap: 15px;

  svg {
    color: $secondary-color;
  }

  p {
    font-size: 14px;
    font-weight: 300;
  }

  span {
    font-size: 18px;
    font-weight: 700;
    margin-top: 4px;
  }
}

.faq-sec {
  position: relative;
  overflow: hidden;
}

.faq-item {
  position: relative;
  z-index: 9;

  .accordion {
    margin-top: 30px;
    padding-bottom: 22px;

    .accordion-item {
      border: 0;
      border-radius: 20px;
      margin-top: 14px;
    }

    .accordion-button {
      font-size: 18px;
      font-weight: 600;
      line-height: 27px;
      text-transform: capitalize;
      color: $primary-color;
      padding: 22px 25px;
      background: none;
      box-shadow: none;

      &::after {
        content: "\f068";
        font-family: "Font Awesome 7 Free";
        font-weight: 700;
        background: none;
        font-size: 14px;
        background-color: #f46700;
        color: #fff;
        border-radius: 50%;
        width: 34px;
        height: 34px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &.collapsed {
        &::after {
          content: "\2b";
          background-color: #fff;
          color: #0f0f0f;
          box-shadow: 0px 2px 20px 6px rgba(204, 204, 204, 0.25);
        }
      }
    }

    .accordion-body {
      padding: 0 25px 22px 25px;
      color: $text-color;
    }
  }
}

.faq-img {
  position: absolute;
  bottom: 0;
  right: 60px;
  max-width: 495px;
  z-index: 1;

  .img-circle {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 640px;
    height: 640px;
    z-index: -1;
    color: $secondary-color;

    svg {
      animation: rotate 25s linear infinite;
    }
  }
}

.outline-btn-white {
  background-color: transparent;
  border: 1px solid #fff;

  &:hover {
    background-color: $primary-color;
    color: #fff;
    border-color: $primary-color;
  }
}

footer {
  background-color: #07121e;
  padding: 60px 0 0 0;
  color: #fff;
  background: url(../images/footer-bg.png), #07121e;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: luminosity;

  h4 {
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0;
  }

  .subscription {
    position: relative;

    input {
      width: 100%;
      font-size: 16px;
      padding: 18px 26px;
      padding-right: 50px;
      color: #bed2e7;
      background-color: #07121e;
      border: 0;
      outline: none;
      border-radius: 18px;
    }

    .submit-icon {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      background: none;
      outline: none;
      border: 0;
      line-height: 0;
      padding: 16px 20px;
      color: #fff;
      transition: all ease-in-out 0.3s;

      :hover {
        color: $secondary-color;
      }
    }
  }

  .footer-mid {
    margin-top: 30px;
    border-top: 1px solid #ffffff1a;

    .footer-mid-item {
      padding-top: 30px;

      h3 {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 10px;
      }

      a {
        color: #fff;
        margin-top: 10px;

        &:hover {
          color: $secondary-color;
        }
      }
    }
  }

  .get-in-touch {
    background-color: #07121e;
    padding: 10px 32px 25px 32px;
    border-radius: 30px;
    margin-top: 60px;
    color: #fff;

    .get-in-touch-item {
      display: flex;
      align-items: center;
      gap: 15px;
      margin-top: 15px;

      svg {
        color: $secondary-color;
        font-size: 20px;
        min-width: 20px;
      }

      h5 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 6px;
      }

      svg {
        color: #fff;
        font-size: 60px;
        width: 60px;
        height: 60px;
        padding: 18px;
        background-color: $secondary-color;
        border-radius: 50%;
        overflow: visible;
      }

      h6 {
        font-size: 18px;
        font-weight: 300;
        color: #fff;
      }

      p {
        color: #fff;
        font-size: 15px;
        font-weight: 300;
      }
    }
  }

  .footer-copyright {
    text-align: center;
    padding: 25px 0;
  }
}
